body {
  font-family: sans-serif;
  margin: 1em 4em;
  color: #444;
}

pre {
  padding: 1em;
  background-color: #eee;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

th, td {
  padding: 0.3em 0.7em;
  font-size: 0.9em;
}


th {
  text-align: left;
  background-color: #6A8099;
  color: #ddd;
}

td {
  background-color: #C9D6FF;
}

#navigation {
  padding-left: 0;
}

#navigation li {
  display: inline;
  padding-right: 1em;
}

#dashboardQueries {
  padding-left: 0;
}

#dashboardQueries li {
  list-style-type: none;
}

#queryResultsInPage {
  margin-left: 3em;
}

.help {
  margin-top: 0;
  font-size: 0.9em;
}