---
layout: default
title: Raw HTML data archive
---
<p>An archive of all the raw daily performance reports in their original format.  These will look crappy because of the lack of css/javascript assets.</p>

<ul id="dates">
  <% dates.sort.each do |(date, raw_file)| %>
    <li>
      <% if raw_file[:html_exists] %>
        <a href="<%= raw_file[:html_href] %>"><%= date %></a>
      <% else %>
        <%= date %> (raw data is unavailable)
      <% end %>
    </li>
  <% end %>
</ul>