---
layout: default
title: Raw CSV data archive
---
<p>An archive of all the raw daily performance reports in the parsed CSV format.</p>

<ul id="dates">
  <% dates.sort.each do |(date, raw_file)| %>
    <li>
      <% if raw_file[:csv_exists] %>
        <a href="<%= raw_file[:csv_href] %>"><%= date %></a>
      <% else %>
        <% msg =  'csv data is unavailable' %>
        <% msg += ' but html data is available so this just needs to be parsed' if raw_file[:html_exists] %>
        <%= date %> (<%= msg %>)
      <% end %>
    </li>
  <% end %>
</ul>