---
layout: default
title: Southeastern daily performance - Raw CSV archive
---
<p>An archive of all the raw daily performance reports in the parsed CSV format.</p>
<p><strong>NOTE.</strong> If a date isn't linked then it indicates that the data is missing for that date.</p>

<ul id="dates">
  <% dates.sort.each do |(date, raw_file)| %>
    <% unless date.strftime('%B %Y') == current_month %>
      <% current_month = date.strftime('%B %Y') %>
      <li class="dateHeading"><h2><%= current_month %></h2></li>
    <% end %>
    <li>
      <% if raw_file[:csv_exists] %>
        <a href="<%= raw_file[:csv_href] %>"><%= date %></a>
      <% else %>
        <%= date %>
      <% end %>
    </li>
  <% end %>
</ul>