<!DOCTYPE html>

<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./stylesheets/sedpr.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./javascripts/sedpr.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <ul id="navigation">
      <li><a href="./">Intro</a></li>
      <li><a href="./dashboard.html">Dashboard</a></li>
      <li><a href="./query-tool.html">Query tool</a></li>
      <li><a href="./mysql.html">Mysql</a></li>
    </ul>
    
    <h1>{{ page.title }}</h1>
    
    {{ content }}
  </body>
</html>